html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}
body {
    line-height: 1
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}
nav ul {
    list-style: none
}
blockquote, q {
    quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}
del {
    text-decoration: line-through
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}
input, select {
    vertical-align: middle
}
@font-face {
    font-family: oswald;
    src: url('../fonts/Oswald-Refular.otf');
}
body {
    font-family: oswald;
    font-size: 14px;
    background-color: #F6F9ED;
}
form {
    overflow: hidden;
}
ul li {
    list-style: none;
    display: inline-block;
}
h2 {
    width: 500px;
    font-family: radhika;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    color: #540002;
    font-size: 24px;
    max-width: 100%;
}
h2:hover {
    color: #353535;
    transition: all 1s ease;
}
.innerWrapper {
    background-color: #fff;
}
.line {
    border: solid 2px #383838;
    margin: 0 auto;
}
.leftDiv, .rightDiv {
    float: left;
}
.leftDiv {
    margin-right: 30px;
}
a {
    text-decoration: none;
}
.overlay {
    background-color: rgba(1, 1, 1, .8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 23;
    display: none;
}
.mainWrapper {
    width: 100%;
    overflow: hidden;
}
.page {
    width: 1170px;
    margin: 0 auto;
}
#centerpage-wrapper .page{
    width:960px;
}
#centerpage-wrapper #site-header-wrapper{
    display: none;
}
button {
    margin: 20px 0 20px 10px;
    padding: 8px;
    width: 80px;
    background-color: #4B8489;
    color: #fff;
    float: right;
    border: none;
    cursor: pointer;
}
.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}
.back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.50);
}
/************/
/***sigin wrapper header***/
/************/

.signin-btn {
    margin: 20px auto;
    padding: 8px;
    width: 80px;
    background-color: #2ca9b2;
    color: #fff;
    float: right;
    border: none;
}
button:hover {
    background-color: #353535;
}
#signin-wrapper {
    background-color: #222222;
}
#site-header-wrapper .container {
    position: relative;
}
#site-header-wrapper .icon {
    position: absolute;
    right: 0;
    top: 20px;
    color: #222;
    display: none;
}
.dashboard-header-wrap #signin-wrapper {
    position: fixed;
    width: 100%;
    z-index: 1;
}
input {
    display: block;
    margin: 0px auto 20px;
    padding: 8px;
}
.signin-content {
    width: 300px;
    margin: 0 auto;
    background-color: #E74C3C;
    padding: 100px 0;
    display: none;
    z-index: 25;
    position: fixed;
    top: 10px;
    left: 38%;
}
.login-btn, .signup-form .login-btn {
    background-color: none;
    width: 80px;
    border: solid 1px #fff;
    background-color: #e74c3c;
    color: #fff;
}
.login-btn:hover, .btn:hover, .signup-form .login-btn:hover {
    background-color: #353535;
}
.lock {
    width: 100px;
    margin: 40px auto 0;
}
.back {
    width: 100px;
    margin: 0px auto 40px;
    border: solid 2px #fff;
    border-radius: 49%;
}
.back:hover {
    background-color: #353535;
    border-bottom-color: none;
    border-radius: 50%;
}
.lock img, .back img {
    width: 100px;
    height: 100px;
}
/************/
/***header***/
/************/

#site-header-wrapper {
    height: 98px;
    font-size: 18px;
    background-color: #fff;
}
.site-header-branding {
    float: left;
}
.nav-menu {
    float: right;
    margin-top: 40px;
    line-height: 1em;
}
.nav-menu ul li {
    float: left;
    border-top: solid 3px #fff;
}
.nav-menu .mainNav {
    display: inline;
    text-align: center;
    width: 100px;
    text-transform: uppercase;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #CE1404;
}
.nav-menu ul li a {
    text-decoration: none;
    color: #540002;
    display: block;
    padding: 8px;
}
.nav-menu ul li:hover {
    border-color: #CE1404;
}
.nav-menu ul li li, .nav-menu ul li li:hover {
    border-top: none;
}
.subMenu {
    list-style: none;
    display: none;
    text-align: center;
    border-top: solid 3px #CE1404;
    position: relative;
    z-index: 1000;
}
.subMenu li {
    list-style: none;
    background-color: #353535;
}
.subMenu li a {
    display: block;
    padding: 10px !important;
    width: 185px;
    color: #fff !important;
}
.nav-menu ul li:hover > ul {
    display: block;
    width: 205px;
}
.nav-menu ul li:hover > .over {
    margin-left: 10px;
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #CE1404;
}
.subMenu li:hover {
    background-color: #CE1404;
    transition: all 1s ease;
    position: relative;
    z-index: 1000;
}
/************/
/***slider***/
/************/

#slider {
    margin: 0 auto 30px;
    box-shadow: 2px 2px 4px #333333;
}
.slider ul {
    /*    overflow: visible !important;*/
}
.slider img {
    width: 100%;
    height: 450px;
}
#slider-nav {
    position: relative;
    z-index: 20;
    cursor: pointer;
}
#slider-nav #prev, #slider-nav #next {
    position: absolute;
    top: -280px;
}
#slider-nav #prev {
    left: 75px;
}
#slider-nav #next {
    right: 75px;
}

.error{
color: #FF7272;
float: left;
margin-left: 6px;
padding-left: 20px;
margin-top: 10px;
width: 244px;
}
/************/
/***article content***/
/************/

.articleContent {
    float: left;
    margin: 0 30px 30px 0;
    width: 770px;
    color: #540002;
}
.articleContent .articleHeader {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.articleContent .articleHeader .dateMonth {
    width: 77px;
    border-right: solid #eeeded;
    text-align: center;
    padding: 20px 0;
    float: left;
}
.articleContent .articleHeader .date {
    font-size: 36px;
    color: #540002;
}
.articleContent .articleHeader .month {
    text-transform: uppercase;
    color: #555555;
    font-size: 15px;
}
.postTitle {
    float: left;
    padding: 20px;
}
.postBy {
    color: #777777;
    font-weight: 100;
    font-size: 16px;
}
.postBy i {
    color: #CE1404;
    font-style: normal;
}
.postLogo {
    float: right;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 15px;
}
.article1Pic img {
    width: 100%;
    height: 359px;
}
.readMore {
    margin-top: 30px;
}
.articleTextArea {
    border-top: solid 1px #eeeded;
    background-color: #ffffff;
    text-align: justify;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    padding: 0 20px;
    overflow: hidden;
    word-wrap: break-word;
    color: #6c0000;
}
.readMore a {
    display: block;
    text-decoration: none;
    background-color: #E74C3C;
    padding: 10px 10px;
    color: #fff;
    text-align: center;
    width: 75px;
}
.readMore a:hover {
    background-color: #353535;
    transition: all 1s ease;
}
.postMeta {
    clear: both;
    color: #777;
    font-size: 18px;
    margin: 0;
    overflow: hidden;
    padding: 10px;
    background: #ffffff;
    border-top: solid 1px #eeeded;
}
.iconContainer {
    width: 60px;
    border-right: solid 1px #eeeded;
}
.postType i {
    border: 2px solid #ff8800;
    color: #ff8800;
    line-height: 25px;
    padding: 6px 12px;
    border-radius: 50%;
}
.postType {
    float: left;
}
.postMeta a {
    text-decoration: none;
    color: inherit;
    font-weight: 50px;
    font-size: 14px;
}
.postMeta a:hover {
    color: #ff8800;
    transition: all 1.5s ease;
}
.postMeta span {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    line-height: 1em;
    padding: 10px;
}
/****************/
/******sidebar****/
/****************/

.sideBar {
    width: 370px;
    float: left;
    color: #540002;
}
.tabWidget {
    width: inherit;
    border-bottom: 30px;
}
.tabs input[type=radio] {
    display: none;
}
.tabs {
    list-style: none;
    position: relative;
}
.tabs li {
    float: left;
}
.tabs label {
    display: block;
    margin-left: 0;
    text-transform: uppercase;
    list-style: none;
    display: inline;
    width: 185px;
    float: left;
    text-align: center;
    line-height: 4em;
    background-color: #eaeaea;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.tabs label:hover {
    background: #fff;
    color: #540002;
    top: 0;
}
ul {
    margin: 0 0;
    padding: 0 0;
}
[id^=tab]:checked + label {
    background: #fff;
    color: #540002;
    top: 0;
}
[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}
.tab-content {
    padding-top: 20px;
    z-index: 2;
    background-color: #fff;
    width: inherit;
    display: none;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    box-sizing: border-box;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
.contentinside {
    width: 328px;
    margin: 0 auto;
    padding: 0 0 20px 0;
}
.thumnail {
    float: left;
    width: 64px;
    height: 55px;
}
.thumnail img {
    width: 55px;
    height: 55px;
    float: left;
}
.info {} .info .widgettitle {
    font-size: 18px;
}
.info .widgettitle a {
    text-decoration: none;
    color: inherit;
}
.meta {
    font-size: 14px;
    color: #999999;
}
.addTab {
    margin-top: 25px;
    width: inherit;
    background-color: #fff;
}
.addTab img {
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/***********************/
/*****quotes******/
/***********************/

#quote {
    background-color: #efefef;
    text-align: center;
}
.quoteContent {
    width: 50%;
    margin: 0 auto;
    padding: 60px 0px;
}
#quote .quoteSign {
    color: #dcdcdc;
    font-size: 50px;
    color: #dcdcdc;
}
#quote p {
    font-size: 20px;
    color: #a1a1a1;
    font-family: Robotoslab-regular;
    line-height: 1.5em;
}
/***********************/
/*****footer******/
/***********************/

footer {
    background-image: url('../Images/footerbackground.png');
    background-repeat: repeat;
    border-top: solid 8px #171717;
}
.footerContents {
    padding-bottom: 0.5em;
}
.footerContentsChild {
    width: 30%;
    float: left;
    color: #cacaca;
    margin: 30px 0 30px 5%;
    background-color: white;
}
.footerContentsChild:first-child {
    margin-left: 0;
}
.footerContentsChild h3 {
    font-size: 18px;
    color: #6c6c6c;
    padding: 0.5em;
    text-transform: uppercase;
}
.footerContentsChild p {
    font-size: 14px;
    padding: 0.5em;
    line-height: 1.5em;
}
.footerHighlight {
    font-size: 14px;
}
.footerHighlightChild {
    margin: 0.5em;
}
.footerHighlightChild i {
    float: left;
}
.footerHighlightChild h4 {
    font-size: 14px;
    margin-left: 1em;
    float: left;
}
.copyright {
    margin: 1.8em 0;
    text-align: center;
    color: #cacaca;
}
.signup-form input {
    width: 100%;
    box-sizing: border-box;
}
/***********************/
/*****homepage donate******/
/***********************/

#donateBanner {
    background-color: #e74c3c;
    margin-bottom: 30px;
}
#donateBanner ul li {
    margin-bottom: 30px;
}
.breadcrumbs {
    padding: 50px 0;
    color: #fff;
    font-weight: bold;
    line-height: 1em;
    text-transform: uppercase;
}
.breadcrumbs ul li a {
    padding-bottom: 20px;
    color: #892C17;
}
.breadcrumbs ul li a:hover, .fixedNav a {
    color: #fff;
    transition: all 1s ease;
}
.breadcrumbs li:after {
    color: #CC0F00;
    content: " / ";
}
.breadcrumbs li:last-child:after {
    content: "";
}
h1 {
    color: #E1E6E5;
    font-size: 48px;
    font-weight: normal;
    line-height: 48px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
/*home page article body*/

.colWrapper {} .centralContentWrapper {
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 75%;
    font-size: 18px;
}
.fixedNav {
    float: left;
}
.fixedNav a {
    border-radius: 5px 5px 0px 0px;
    background: none repeat scroll 0% 0% #e74c3c;
    color: #892C17;
    padding: 7px 10px 6px;
    text-transform: uppercase;
    display: block;
}
.centralContainer {} .centralContainer h2, .searchBloodForm {
    margin: 30px;
}
.centralContainer .line {
    border: 1px solid #EEEDED;
}
.fieldWrapper {
    margin: 20px 0;
}
.searchBloodForm .login-btn {
    float: right;
}
.fieldWrapper .title {
    display: block;
    width: 40%;
    float: left;
    padding: 10px;
}
.optionClass {
    display: block;
    width: 50%;
    float: right;
    color: #6C0000;
    padding-left: 10px;
}
option {
    padding: 10px;
    text-align: center;
}
/*panelrow*/

.panelRowContainer {
    margin: 30px;
}
.panelRowContainer .imgWrapper {
    border: solid 1px red!important;
      width: 100px;
    height: 100px;
    float: left;
}
.panelRowContainer .imgWrapper img{
    width: 100px;
    height: 100px;
}
.articleBody {
    float: right;
    padding: 0 30px;
    width: 354px;
}
.articleBody p {
    padding: 10px 0;
}
.articleBody a {
    color: #353535;
}
.articleBody a:hover {
    color: #E74C3C;
}
/*promo*/

.sideBar .innerWrapper {
    padding: 30px;
    margin-bottom: 30px;
}
.sideBar .promo {
    margin: 0;
    text-align: center;
}
.promo img {
    width: 150px;
    height: 150px;
}
.promo p {
    font-size: 18px;
    line-height: 1.3em;
    margin: 15px 0px;
}
.promo a.callout {
    color: #370404;
}
.promo a.callout {
    border-bottom: 0px none;
    display: inline-block;
    line-height: 1.4em;
    text-decoration: none;
}
.promo.light-red {
    background: none repeat scroll 0% 0% #E74C3C;
}
.promo.light-red, .promo.light-blue, .promo.blue {
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
}
.promo {
    padding: 35px 20px 20px;
}
.promo.blue {
    background: none repeat scroll 0% 0% #2980B9;
}
/*dashboard css*/

.clear {
    clear: both;
}
.side {
    width: 270px;
    background-color: #232323;
    float: left;
    height: 100%;
    position: fixed;
    top: 71px;
}
.sideContent {
    width: 80%;
    margin: 0 auto;
}
.categories ul li {
    display: block;
}
.categories ul li a {
    text-decoration: none;
    color: #fff;
    padding: 15px 0;
    display: block;
    width: 122.5%;
    margin-left: -10%;
    border-bottom: solid 1px #2E2E2E;
}
.categories ul li a:hover {
    background-color: #fff;
    color: #222;
}
.categories ul li .current {
    background-color: #fff !important;
    color: #222;
}
.categories ul li .highlight {
    background-color: #383838;
}
.categories ul li a i {
    display: block;
    margin-left: 10%;
    font-style: normal;
    width: 100%;
}
/*aside*/

.aside {
    z-index: 0;
    /*float: left;*/
    
    width: 75%;
    position: absolute;
    top: 71px;
    margin-left: 22.5%;
    margin-bottom: 50px;
}
.panel {
    margin: 20px 0;
    background-color: #fff;
}
.panel-body {
    padding: 30px;
    overflow: hidden;
}
.top-heading {
    margin: 40px 0;
}
.top-heading h2 {
    padding-left: 30px;
    color: #353535;
}
.edit-btn {} .case-wrap ul li > span, .description {
    width: 350px;
    float: left;
    color: #000;
    padding-left: 10px;
    overflow: hidden;
}
.description {
    width: 480px;
}
/*form*/

.panel-body input {
    margin: 0;
}
.form-group {
    margin-bottom: 12px;
    clear: both;
    overflow: hidden;
    padding-top: 6px;
}
.action-btns {
    padding-left: 270px;
}
.action-btns button {
    float: none;
}
.submit-btn {
    background-color: #00A5B2;
}
.submit-btn:hover {
    background-color: #19707B;
}
.cancel-btn {
    background-color: #EF3F55
}
.form-group label, .case-wrap ul li label {
    margin-left: 10px;
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: normal;
    color: #777;
    float: left;
    width: 250px;
    margin-right: 20px;
    position: relative;
    padding-top: 14px;
}
.case-wrap ul li label {
    padding-top: 0;
}
.form-group input[type="text"], .form-group input[type="email"], .form-group select, .form-group input[type="password"] .form-group select, .form-group textarea {
    border: 2px solid #03a6b5;
    border-radius: 3px;
    color: #333333;
    height: 40px;
    padding: 4px;
    float: left;
    width: 350px!important;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-group.input-radio input[type="radio"] {
    float: left;
    /*margin: 9px 0px 20px;*/
}
.form-group.input-radio input+label {
    float: left;
    margin-right: 17px;
    width: auto;
    padding-top: 0;
}
.input-radio-options {
    padding: 14px 0;
    float: left;
    width: 350px;
}
.form-group textarea {
    height: 130px;
}
/*dashboard-header*/

.user {
    float: right;
    list-style: none;
    position: relative;
}
.user i {
    margin-left: 10px;
}
.username {
    cursor: pointer;
    margin: 9px 0;
    padding: 20px 10px;
    color: #8F8A88;
    background-color: #fff;
}
/* .username:hover{
    background-color: #383838;
     color: #fff;
} */

.toggle {
    display: none;
}
.user > ul {
    color: #222;
    position: absolute;
    top: 63px;
    right: 0;
    background-color: #fff;
    list-style: none;
    cursor: pointer;
    width: 174px;
}
.user ul li {
    display: block;
}
.user ul li a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    display: block;
    padding: 15px 8px;
    border-bottom: solid 1px #232323;
}
.user ul li a:hover {
    background-color: #383838;
    color: #fff;
}
.nav-right {
    padding: 13px 10px;
    margin: 9px 20px 0 0;
    float: right;
}
.nav-right a {
    cursor: pointer;
    margin-left: 20px;
    color: #fff;
    display: inline-block;
}
.notification-list {
    float: left;
    width: 210px;
    min-height: 200px;
    background-color: #f5f5f5;
    text-align: center;
    margin-right: 40px;
}
.standout {
    color: #D02600;
    font-size: 24px;
}
.notification-list .icon {
    padding: 20px 0;
    color: #D02600;
}

/***********************/
/*****media queries******/
/***********************/

@media all and (max-width: 1170px) {
    .page {
        width: 100%;
    }
    .container {
        margin: 0 40px;
    }
}
@media all and (max-width: 800px) {
    #site-header-wrapper {
        height: auto;
    }
    .nav-menu {
        float: none;
    }
    .nav-menu, .fixedNav {
        clear: both;
        margin: 20px 0;
        display: none;
    }
    .articleContent{
        margin: 0;
    }
    .nav-menu .mainNav {
        width: 100%;
    }
    .nav-menu ul li a {
        padding: 15px 0;
        background-color: #232323;
        border-bottom: solid 1px #2E2E2E;
        color: #fff;
    }
    .nav-menu ul li a:hover {
        background-color: #383838;
    }
    .nav-menu ul li {
        border-top: 0;
    }
    .logo-wrap {
    overflow: hidden;
}
    #donateBanner {
        margin-bottom: 30px;
        width: 89%;
        margin: 0 auto;
    }
    #site-header-wrapper .icon {
        display: inline-block;
        cursor: pointer;
    }
    .articleContent, .centralContentWrapper, .sideBar {
        margin-left: 0;
        width: 100%;
    }
    .articleBody{
        float: none;
        width: auto;
        margin-left: 90px;
    }
    .sideBar .innerWrapper {
        padding: 0;
        width: 50%;
        float: left;
    }
    h1{
    font-size: 32px;
    line-height: 40px;
 }
 .slider ul{
    width: 100% !important;
    height: 380px !important;
 }
    
#slider-nav #prev, #slider-nav #next {
top: -225px;
}
}

@media all and (max-width: 480px){
    .container {
        margin: 0;
    }
    #donateBanner {
        width: 100%;
 margin: 0 auto; 
}
 #donateBanner .container{
    margin:0 20px;
 }

 #site-header-wrapper .icon {
    font-size: 25px;
    top:48px;
 }
.articleBody {
 margin-left: 0; 
 margin-top: 20px;
 text-align: center;
}
.panelRowContainer .imgWrapper,.sideBar .innerWrapper{
    margin: 0 auto;
    float: none;
    
}
.sideBar .innerWrapper{
    width: auto;
      }
.logo-wrap img{
    width: 200px;
}
#site-header-wrapper .icon{
    top:26px;
}

}

@media all and (max-width: 330px){
    h1 {
font-size: 25px;
line-height: 38px;
}

    }